<mat-horizontal-stepper linear>


    <mat-step label=" Beginner">


        <mat-vertical-stepper linear>

            <mat-step label="Start">
                <div class="row">
                    <div class="col-12 begin">
                        <button mat-raised-button matStepperNext  id="begin"  class=" bg-info text-light">Start</button>
                    </div>
                </div>
            </mat-step> 
            <mat-step label="1 of 16">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2W4ZNSwoW_4"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Jumping Jacks</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="2 of 16">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RUNrHkbP4Pc"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Abdominal Crunches</h2>
                        <h3>x 16</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="3 of 16">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/DJQGX2J4IVw"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Russian Twist</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="4 of 16">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/wQq3ybaLZeA"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Mountain Climber</h2>
                        <h3>x 16</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="5 of 16">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9bR-elyolBQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Heel Touch</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="6 of 16">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/dGKbTKLnym4"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Leg Raises</h2>
                        <h3>x 16</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="7 of 16">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Fcbw82ykBvY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Plank</h2>
                        <h3>30 sec</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="8 of 16">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RUNrHkbP4Pc"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Abdominal Crunches</h2>
                        <h3>x 12</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="9 of 16">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/DJQGX2J4IVw"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Russian Twist</h2>
                        <h3>x 32</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="10 of 16">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/wQq3ybaLZeA"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Mountain Climber</h2>
                        <h3>x 12</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="11 of 16">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9bR-elyolBQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Heel Touch</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="12 of 16">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/dGKbTKLnym4"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Leg Raises</h2>
                        <h3>x 14</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="13 of 16">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Fcbw82ykBvY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Plank</h2>
                        <h3>30 sec</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="14 of 16">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/z21McHHOpAg"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Cobra Stretch</h2>
                        <h3>30 sec</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="15 of 16">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/nfhIuzZauTo"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Spine Lumbar Twist Stretch Left</h2>
                        <h3>30 sec</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="16 of 16">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/nfhIuzZauTo"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Spine Lumbar Twist Stretch Right</h2>
                        <h3>30 sec</h3>
                        <button mat-raised-button matStepperNext  routerLink="/reward" class="mt-4 bg-info text-light">Finish</button>


                    </div>
                </div>
            </mat-step>




        </mat-vertical-stepper>

    </mat-step>
    <mat-step label="Intermediate">


        <mat-vertical-stepper linear>
            <mat-step label="Start">
                <div class="row">
                    <div class="col-12 begin">
                        <button mat-raised-button matStepperNext  id="begin"  class=" bg-info text-light">Start</button>
                    </div>
                </div>
            </mat-step> 

            <mat-step label="1 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2W4ZNSwoW_4"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Jumping Jacks</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="2 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9bR-elyolBQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Heel Touch</h2>
                        <h3>x 26</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="3 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/q2_KHKE5CDE"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Crossover Crunch</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="4 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/wQq3ybaLZeA"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Mountain Climber</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="5 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/7ytbYd4CK3o"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Side Bridges Left</h2>
                        <h3>x 12</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="6 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/7ytbYd4CK3o"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Side Bridges Right</h2>
                        <h3>x 21</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="7 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9qo48CYN06w"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Butt Bridge</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="8 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-nJkAJpQemI"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Bicycle Crunches</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="9 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/5kvKmRGADlQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>V Ups</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="10 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9bR-elyolBQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Heel Touch</h2>
                        <h3>x 26</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="11 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RUNrHkbP4Pc"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Abdominal Crunches</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="12 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Fcbw82ykBvY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Plank</h2>
                        <h3>30 sec</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="13 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/q2_KHKE5CDE"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Crossover Crunch</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="14 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/dGKbTKLnym4"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Leg Raises</h2>
                        <h3>x 16</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="15 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/iFaZ095MMGg"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Oblique V Ups Left</h2>
                        <h3>x 16</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="16 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/iFaZ095MMGg"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Oblique V Ups Right</h2>
                        <h3>x 16</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="17 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Plv5CIclPtQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Push Up & Rotation</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="18 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Fcbw82ykBvY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Side Plank Left</h2>
                        <h3>30 sec</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="19 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Fcbw82ykBvY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Side Plank Right</h2>
                        <h3>30 sec</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="20 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/nfhIuzZauTo"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Spine Lumbar Twist Stretch Left</h2>
                        <h3>30 sec</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="21 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/nfhIuzZauTo"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Spine Lumbar Twist Stretch Right</h2>
                        <h3>30 sec</h3>
                        <button mat-raised-button matStepperNext  routerLink="/reward" class="mt-4 bg-info text-light">Finish</button>


                    </div>
                </div>
            </mat-step>

        </mat-vertical-stepper>


    </mat-step>
    <mat-step label="Advanced">



        <mat-vertical-stepper linear>

            <mat-step label="Start">
                <div class="row">
                    <div class="col-12 begin">
                        <button mat-raised-button matStepperNext  id="begin"  class=" bg-info text-light">Start</button>
                    </div>
                </div>
            </mat-step> 
            <mat-step label="1 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" id="myIframe" src="https://www.youtube.com/embed/2W4ZNSwoW_4"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Jumping Jacks</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>

            <mat-step label="2 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/swOyWKk7Oko"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Sit Ups</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="3 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/7ytbYd4CK3o"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Side Bridges Left</h2>
                        <h3>x 20
                        </h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="4 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/7ytbYd4CK3o"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Side Bridges Right</h2>
                        <h3>x 20
                        </h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="5 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RUNrHkbP4Pc"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Abdominal Crunches</h2>
                        <h3>x 30</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="6 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-nJkAJpQemI"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Bicycle Crunches</h2>
                        <h3>x 24</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="7 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Fcbw82ykBvY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Side Plank Left</h2>
                        <h3>30 sec</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="8 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Fcbw82ykBvY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Side Plank Right</h2>
                        <h3>30 sec</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="9 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/5kvKmRGADlQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>V Ups</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="10 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Plv5CIclPtQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Push Up & Rotation</h2>
                        <h3>x 24</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="11 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/DJQGX2J4IVw"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Russian Twist</h2>
                        <h3>x 48</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="12 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RUNrHkbP4Pc"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Abdominal Crunches</h2>
                        <h3>x 28</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="13 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9qo48CYN06w"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Butt Bridge</h2>
                        <h3>x 30</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>

            <mat-step label="14 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9bR-elyolBQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Heel Touch</h2>
                        <h3>x 36</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>

            <mat-step label="15 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/wQq3ybaLZeA"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Mountain Climber</h2>
                        <h3>x 30</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="16 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/q2_KHKE5CDE"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Crossover Crunch</h2>
                        <h3>x 24</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="17 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/5kvKmRGADlQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>V Ups</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>

            <mat-step label="18 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Fcbw82ykBvY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Plank</h2>
                        <h3>01:00 Min</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>

            <mat-step label="19 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Fcbw82ykBvY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Plank</h2>
                        <h3>01:00 Min</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="20 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/z21McHHOpAg"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Cobra Stretch</h2>
                        <h3>30 sec</h3>
                        <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

                    </div>
                </div>
            </mat-step>
            <mat-step label="21 of 21">
                <div class="row">
                    <div class="col-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/NS64IgKUyeY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-6 text-center">
                        <h2>Chest Stretch</h2>
                        <h3>30 sec</h3>
                        <button mat-raised-button matStepperNext  routerLink="/reward" class="mt-4 bg-info text-light">Finish</button>


                    </div>
                </div>
            </mat-step>




        </mat-vertical-stepper>

    </mat-step>


</mat-horizontal-stepper>