<mat-horizontal-stepper linear>


   <mat-step label=" Beginner">

      <mat-vertical-stepper linear>
         <mat-step label="Start">
            <div class="row">
                <div class="col-12 begin">
                    <button mat-raised-button matStepperNext  id="begin"  class=" bg-info text-light">Start</button>
                </div>
            </div>
        </mat-step> 

         <mat-step label="1 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Bqvmyni_sKQ"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>

               </div>
               <div class="col-6 text-center">
                  <h2>Arm Rises</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="2 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/YslHgg2E-Ro"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Side Arm Rises</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="3 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/JhX1nBnirNw"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Triceps Dips</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="4 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Lha66p0ZXUc"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Arm Circles</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="5 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/UCmqw3kKZ38"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Diamond Push Ups</h2>
                  <h3>x 8</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="6 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/2W4ZNSwoW_4"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Jumping Jacks</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="7 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Fz4oo1vFo9M"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Chest Press Pulse</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="8 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/3kZS8HVFquk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Leg Barbell Curl Left</h2>
                  <h3>x 10</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="9 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/3kZS8HVFquk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Leg Barbell Curl Right</h2>
                  <h3>x 10</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="10 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/OGfFtF-dhrk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Diagonal Plank</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="11 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/reeBHtZJ1ts"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Punches</h2>
                  <h3>x 30</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="12 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/R08gYyypGto"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Push Ups</h2>
                  <h3>x 10</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="13 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/ZY2ji_Ho0dA"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Inchworms</h2>
                  <h3>x 8</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="14 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/EOf3cGIQpA4"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Wall Push Ups</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="15 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/L9IGOcrdcFk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Triceps Stretch Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="16 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/L9IGOcrdcFk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Triceps Stretch Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="17 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/jw8EXo5h0ec"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Standing Biceps Stretch Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="18 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/jw8EXo5h0ec"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Standing Biceps Stretch Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="19 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/dW3Pi-RXSyM"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Arms Swing</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  routerLink="/reward" class="mt-4 bg-info text-light">Finish</button>

               </div>
            </div>
         </mat-step>




      </mat-vertical-stepper>

   </mat-step>
   <mat-step label="Intermediate">

      <mat-vertical-stepper linear>
         <mat-step label="Start">
            <div class="row">
                <div class="col-12 begin">
                    <button mat-raised-button matStepperNext  id="begin"  class=" bg-info text-light">Start</button>
                </div>
            </div>
        </mat-step> 

         <mat-step label="1 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Lha66p0ZXUc"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Arm Circles</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="2 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/geNkbcZ6qDo"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Floor Triceps Dips</h2>
                  <h3>x 14</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="3 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/H8LoGZ-ZN48"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Military Push Ups</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="4 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/wiyvVpEKOsc"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Alternating Hooks</h2>
                  <h3>x 30</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="5 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Plv5CIclPtQ"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Push Up & Rotation</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="6 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/3kZS8HVFquk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Leg Barbell Curl Left</h2>
                  <h3>x 10</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="7 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/3kZS8HVFquk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Leg Barbell Curl Right</h2>
                  <h3>x 10</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="8 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/geNkbcZ6qDo"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Floor Triceps Dips</h2>
                  <h3>x 14</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="9 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/H8LoGZ-ZN48"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Military Push Ups</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="10 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/wiyvVpEKOsc"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Alternating Hooks</h2>
                  <h3>x 30</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="11 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/ZY2ji_Ho0dA"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Inchworms</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="12 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/3kZS8HVFquk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Leg Barbell Curl Left</h2>
                  <h3>x 10</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="13 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/3kZS8HVFquk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Leg Barbell Curl Right</h2>
                  <h3>x 10</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="14 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/CYGeazlNbU4"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Skipping Without Ropes</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="15 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Rr43jMaoJ9g"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Prone Triceps</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="16 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/818SkLAPyKY"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Burpees</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="17 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/L9IGOcrdcFk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Triceps Stretch Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="18 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/L9IGOcrdcFk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Triceps Stretch Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="19 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/fobiVgoeeZA"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Modified Push Up Low Hold</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="20 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/EOf3cGIQpA4"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Wall Push Ups</h2>
                  <h3>x 14</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="21 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/ZY2ji_Ho0dA"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Inchworms</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="22 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/L9IGOcrdcFk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Triceps Stretch Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="23 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/L9IGOcrdcFk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Triceps Stretch Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="24 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/jw8EXo5h0ec"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Standing Biceps Stretch Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="25 of 25">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/jw8EXo5h0ec"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Standing Biceps Stretch Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  routerLink="/reward" class="mt-4 bg-info text-light">Finish</button>

               </div>
            </div>
         </mat-step>

      </mat-vertical-stepper>


   </mat-step>
   <mat-step label="Advanced">

      <mat-vertical-stepper linear>

         <mat-step label="Start">
            <div class="row">
                <div class="col-12 begin">
                    <button mat-raised-button matStepperNext  id="begin"  class=" bg-info text-light">Start</button>
                </div>
            </div>
        </mat-step> 
         <mat-step label="1 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Lha66p0ZXUc"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Arm Circles</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>

         <mat-step label="2 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/CYGeazlNbU4"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Skipping Without Ropes</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="3 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/3kZS8HVFquk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Leg Barbell Curl Left</h2>
                  <h3>x 18</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="4 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/3kZS8HVFquk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Leg Barbell Curl Right</h2>
                  <h3>x 18</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="5 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/818SkLAPyKY"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Burpees</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="6 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/pxsOe8MJq68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Arm Curls Crunches Left</h2>
                  <h3>x 24</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="7 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/pxsOe8MJq68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Arm Curls Crunches Right</h2>
                  <h3>x 24</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="8 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/geNkbcZ6qDo"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Floor Triceps Dips</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="9 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/H8LoGZ-ZN48"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Military Push Ups</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="10 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/wiyvVpEKOsc"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Alternating Hooks</h2>
                  <h3>x 30</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="11 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/JWp8_LGkTR8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Shoulder Gators</h2>
                  <h3>x 18</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="12 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/geNkbcZ6qDo"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Floor Triceps Dips</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="13 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/wiyvVpEKOsc"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Alternating Hooks</h2>
                  <h3>x 30</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>

         <mat-step label="14 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/818SkLAPyKY"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Burpees</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>

         <mat-step label="15 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/pxsOe8MJq68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Arm Curls Crunches Left</h2>
                  <h3>x 24</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="16 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/pxsOe8MJq68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Arm Curls Crunches Right</h2>
                  <h3>x 24</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="17 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/H8LoGZ-ZN48"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Military Push Ups</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>

         <mat-step label="18 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/JWp8_LGkTR8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Shoulder Gators</h2>
                  <h3>x 18</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>

         <mat-step label="19 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/134v7cB-1W8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Doorway Curls Left</h2>
                  <h3>01:00 Min</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="20 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/134v7cB-1W8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Doorway Curls Right</h2>
                  <h3>01:00 Min</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="21 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/fobiVgoeeZA"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Modified Push Up Low Hold</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="22 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Fz4oo1vFo9M"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Chest Press Pulse</h2>
                  <h3>20 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="23 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Plv5CIclPtQ"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Push Up & Rotation</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="24 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/ZY2ji_Ho0dA"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Inchworms</h2>
                  <h3>x 14</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>

         <mat-step label="25 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/L9IGOcrdcFk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Triceps Stretch Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>

         <mat-step label="26 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/L9IGOcrdcFk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Triceps Stretch Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="27 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/jw8EXo5h0ec"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Standing Biceps Stretch Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="28 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/jw8EXo5h0ec"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Standing Biceps Stretch Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  routerLink="/reward" class="mt-4 bg-info text-light">Finish</button>

               </div>
            </div>
         </mat-step>




      </mat-vertical-stepper>

   </mat-step>


</mat-horizontal-stepper>