<mat-horizontal-stepper linear>


   <mat-step label=" Beginner">

      <!-- <div class="text-center">
      <img src="https://c4.wallpaperflare.com/wallpaper/99/542/346/bodybuilding-windows-wallpaper-preview.jpg"
            width="100%" alt="">
      </div> -->



      <mat-vertical-stepper linear>

         <mat-step label="Start">
            <div class="row">
                <div class="col-12 begin">
                    <button mat-raised-button matStepperNext  id="begin"  class=" bg-info text-light">Start</button>
                </div>
            </div>
        </mat-step> 
         <mat-step label="1 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/nYmUEJIBj3c"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>

               </div>
               <div class="col-6 text-center">
                  <h2>Side Hop</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="2 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/42bFodPahBU"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Squats</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="3 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/pGeaBXLwDtw"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>SuperMan</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="4 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/9qo48CYN06w"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Butt Bridge</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="5 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/SFSZVKzqnXA"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Split Squat</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="6 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/wl10q6aqy-4"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Froggy Glute Lift</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="7 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/4ranVQDqlaU"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Donkey Kicks Left</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="8 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/4ranVQDqlaU"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Donkey Kicks Right</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="9 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/_pDhLWYEC18"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Hip Bridge & Leg Lift Left</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="10 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/_pDhLWYEC18"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Hip Bridge & Leg Lift Right</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="11 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/mYMardCrLSk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Pilates Clamshell Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="12 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/mYMardCrLSk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Pilates Clamshell Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="13 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/R4hV4xrJNqc"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Double Knees To Chest</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="14 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/D4gxkgZQkAg"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Glute KickBacks Left</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="15 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/D4gxkgZQkAg"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Glute KickBacks Right</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="16 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Hcy81KUTIZ8"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Sumo Squat Calf Raises With Wall</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="17 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/GD5IaDVlGhA"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Sumo Squat Calf Raises</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="18 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/WFtPk4Z-k60"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Quad Stretch Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="19 of 19">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/WFtPk4Z-k60"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Quad Stretch Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext routerLink="/reward"
                     class="mt-4 bg-info text-light">Finish</button>

               </div>
            </div>
         </mat-step>




      </mat-vertical-stepper>

   </mat-step>
   <mat-step label="Intermediate">

      <!-- <div class="text-center">
         <img src="https://s1.1zoom.me/b4246/836/Men_Dumbbells_Muscle_White_background_514962_1600x1200.jpg" alt="">

      </div> -->


      <mat-vertical-stepper linear>
         <mat-step label="Start">
            <div class="row">
                <div class="col-12 begin">
                    <button mat-raised-button matStepperNext  id="begin"  class=" bg-info text-light">Start</button>
                </div>
            </div>
        </mat-step> 

         <mat-step label="1 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/2W4ZNSwoW_4"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Jumping Jacks</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="2 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/vXVPvY1UbJI"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Butt Kicks</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="3 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/5gtLC5BgN7Q"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Skater Jump</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="4 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/9A7ZAXxMV0Q"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Plank Jacks</h2>
                  <h3>x 24</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="5 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/2cc_hUFvTKU"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Scissors</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="6 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/4ranVQDqlaU"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Donkey Kicks Left</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="7 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/4ranVQDqlaU"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Donkey Kicks Right</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="8 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/tcgvAxhEhvQ"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Squat Jacks</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="9 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/_pDhLWYEC18"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Hip Bridge & Leg Lift Left</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="10 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/_pDhLWYEC18"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Hip Bridge & Leg Lift Right</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="11 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/7HarjcM6b10"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Squat Pulses</h2>
                  <h3>x 14</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="12 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/-rTyKlHjYT8"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Cursty Lunges</h2>
                  <h3>x 14</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="13 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/8zJh1tGtldU"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Flutter Kick Squats</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="14 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/WFtPk4Z-k60"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Quad Stretch Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="15 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/WFtPk4Z-k60"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Quad Stretch Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="16 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/tcgvAxhEhvQ"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Squat Jacks</h2>
                  <h3>x 12</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="17 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/9A7ZAXxMV0Q"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Plank Jacks</h2>
                  <h3>x 24</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="18 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/R4hV4xrJNqc"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Double Knees To Chest</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="19 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Z2F0bArQH5s"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Kneeling Lunches Stretch Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="20 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/UsO66ZUvzb0"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Reverse Flutter Kicks</h2>
                  <h3>x 14</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="21 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/UsO66ZUvzb0"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Reverse Flutter Kicks</h2>
                  <h3>x 14</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="22 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/UsO66ZUvzb0"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Reverse Flutter Kicks</h2>
                  <h3>x 14</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="23 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Yp3ZwACK9v4"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Wall Sit</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="24 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/TfcRyYf7WLg"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Left Quad Stretch With Wall</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="25 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/TfcRyYf7WLg"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Right Quad Stretch With Wall</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="26 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/bJms9YyjoBI"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Knee To Chest Stretch Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="27 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/bJms9YyjoBI"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Knee To Chest Stretch Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="28 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/vSKSU8KDc38"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Glute Stretch</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext routerLink="/reward"
                     class="mt-4 bg-info text-light">Finish</button>

               </div>
            </div>
         </mat-step>



      </mat-vertical-stepper>


   </mat-step>
   <mat-step label="Advanced">

      <!-- <div class="text-center">
         <img src="https://wallpaperaccess.com/full/1097430.jpg" width="100%" alt="">
      </div> -->

      <mat-vertical-stepper linear>
         <mat-step label="Start">
            <div class="row">
                <div class="col-12 begin">
                    <button mat-raised-button matStepperNext  id="begin"  class=" bg-info text-light">Start</button>
                </div>
            </div>
        </mat-step> 

         <mat-step label="1 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/2W4ZNSwoW_4"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Jumping Jacks</h2>
                  <h3>x 25</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="2 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/vXVPvY1UbJI"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Butt Kicks</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="3 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/5gtLC5BgN7Q"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Skater Jump</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="4 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/9A7ZAXxMV0Q"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Plank Jacks</h2>
                  <h3>x 28</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="5 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/2cc_hUFvTKU"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Scissors</h2>
                  <h3>x 24</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="6 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/4ranVQDqlaU"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Donkey Kicks Left</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="7 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/4ranVQDqlaU"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Donkey Kicks Right</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="8 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/tcgvAxhEhvQ"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Squat Jacks</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="9 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/_pDhLWYEC18"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Hip Bridge & Leg Lift Left</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="10 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/_pDhLWYEC18"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Hip Bridge & Leg Lift Right</h2>
                  <h3>x 20</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="11 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/7HarjcM6b10"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Squat Pulses</h2>
                  <h3>x 24</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="12 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/-rTyKlHjYT8"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Cursty Lunges</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="13 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/8zJh1tGtldU"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Flutter Kick Squats</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="14 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/WFtPk4Z-k60"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Quad Stretch Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="15 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/WFtPk4Z-k60"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Quad Stretch Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="16 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/tcgvAxhEhvQ"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Squat Jacks</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="17 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/9A7ZAXxMV0Q"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Plank Jacks</h2>
                  <h3>x 30</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="18 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/R4hV4xrJNqc"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Double Knees To Chest</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="19 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Z2F0bArQH5s"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Kneeling Lunches Stretch Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="20 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Z2F0bArQH5s"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Kneeling Lunches Stretch Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="21 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/UsO66ZUvzb0"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Reverse Flutter Kicks</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="22 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/UsO66ZUvzb0"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Reverse Flutter Kicks</h2>
                  <h3>x 16</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="23 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Yp3ZwACK9v4"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Wall Sit</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="24 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/TfcRyYf7WLg"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Left Quad Stretch With Wall</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="25 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/TfcRyYf7WLg"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Right Quad Stretch With Wall</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="26 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/bJms9YyjoBI"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Knee To Chest Stretch Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="27 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/bJms9YyjoBI"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Knee To Chest Stretch Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="28 of 28">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/vSKSU8KDc38"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Glute Stretch</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext routerLink="/reward"
                     class="mt-4 bg-info text-light">Finish</button>

               </div>
            </div>
         </mat-step>



      </mat-vertical-stepper>

   </mat-step>


</mat-horizontal-stepper>