


 <a href="register">
  <header class="bg-dark banner py-5 ">
      <div class="container px-4 px-lg-5 my-5">
  
      </div>
  </header>
</a>


<div class="all">
<div class="conner">

    <div class="card card1" >
        <div class="card-body">
          <!-- <h5 class="card-title">New to Here..?</h5> -->
          <p class="card-text">Over 3 million members have chosen <b class="text-danger">home workout</b>  for their body transformation. what are you waiting for..!!</p>
          <a routerLink="register" id="one" class="btn btn-danger ms-5">Register</a>
        </div>
      </div>

      <div class="card card2" >
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text">  ‘If you want something you’ve never had, you must be willing to do something you’ve never done.’<br>
            — Thomas Jefferson</p>
          <a routerLink="login" id="two" class="btn btn-danger ms-5">Login & Shred</a>
        </div>
      </div>



    </div>

  
