


<mat-horizontal-stepper linear>
    
    <mat-step label=" Beginner" >

            <mat-vertical-stepper linear>
             
                <mat-step label="Start">
                    <div class="row">
                        <div class="col-12 begin">
                            <button mat-raised-button matStepperNext  id="begin"  class=" bg-info text-light">Start</button>
                        </div>
                    </div>
                </mat-step> 
                  <mat-step label="1 of 16">
                      <div class="row">
                          <div class="col-6">
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/2W4ZNSwoW_4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                          </div>
                          <div class="col-6 text-center">
                                  <h2>Jumping Jacks</h2>
                                  <h3>x 20</h3>
                                  <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
      
                          </div>
                      </div>
                  </mat-step>         
                  <mat-step label="2 of 16">
                      <div class="row">
                          <div class="col-6">
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/3WUUeM07i_Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                          <div class="col-6 text-center">
                                  <h2>Incline Push Ups</h2>
                                  <h3>x 16</h3>
                                  <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
      
                          </div>
                      </div>
                  </mat-step>
                  <mat-step label="3 of 16">
                      <div class="row">
                          <div class="col-6">
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/jWxvty2KROs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                          <div class="col-6 text-center">
                                  <h2>Knee Push Ups</h2>
                                  <h3>x 16</h3>
                                  <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
      
                          </div>
                      </div>
                  </mat-step>
                  <mat-step label="4 of 16">
                      <div class="row">
                          <div class="col-6">
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/R08gYyypGto" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                          <div class="col-6 text-center">
                                  <h2>Push Ups</h2>
                                  <h3>x 8</h3>
                                  <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
      
                          </div>
                      </div>
                  </mat-step>
                  <mat-step label="5 of 16">
                      <div class="row">
                          <div class="col-6">
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/pQUsUHvyoI0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                          <div class="col-6 text-center">
                                  <h2>Wide Arm Push Ups</h2>
                                  <h3>x 8</h3>
                                  <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
      
                          </div>
                      </div>
                  </mat-step>
                  <mat-step label="6 of 16">
                      <div class="row">
                          <div class="col-6">
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/3WUUeM07i_Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                          <div class="col-6 text-center">
                                  <h2>Incline Push Ups</h2>
                                  <h3>x 16</h3>
                                  <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
      
                          </div>
                      </div>
                  </mat-step>
                  <mat-step label="7 of 16">
                      <div class="row">
                          <div class="col-6">
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/jWxvty2KROs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                          <div class="col-6 text-center">
                                  <h2>Knee Push Ups</h2>
                                  <h3>x 10</h3>
                                  <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
      
                          </div>
                      </div>
                  </mat-step>
                  <mat-step label="8 of 16">
                      <div class="row">
                          <div class="col-6">
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/R08gYyypGto" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                          <div class="col-6 text-center">
                                  <h2>Push Ups</h2>
                                  <h3>x 8</h3>
                                  <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
      
                          </div>
                      </div>
                  </mat-step>
                  <mat-step label="9 of 16">
                      <div class="row">
                          <div class="col-6">
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/pQUsUHvyoI0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                          <div class="col-6 text-center">
                                  <h2>Wide Arm Push Ups</h2>
                                  <h3>x 10</h3>
                                  <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
      
                          </div>
                      </div>
                  </mat-step>
                  <mat-step label="10 of 16">
                      <div class="row">
                          <div class="col-6">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/dcJVA2sBPqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                            <div class="col-6 text-center">
                                  <h2>Box Push Ups</h2>
                                  <h3>x 12</h3>
                                  <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
      
                          </div>
                      </div>
                  </mat-step>
                  <mat-step label="11 of 16">
                      <div class="row">
                          <div class="col-6">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/JhX1nBnirNw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                           </div>
                          <div class="col-6 text-center">
                                  <h2>Triceps Dips</h2>
                                  <h3>x 12</h3>
                                  <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
      
                          </div>
                      </div>
                  </mat-step>
                  <mat-step label="12 of 16">
                      <div class="row">
                         <div class="col-6">
                             <iframe width="560" height="315" src="https://www.youtube.com/embed/Plv5CIclPtQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    
                           </div>
                         
                             <div class="col-6 text-center">
                                 <h2>Push Up & Rotation</h2>
                                 <h3>x 6</h3>
                                 <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
     
                         </div>
                        </div>
                  </mat-step>
                  <mat-step label="13 of 16">
                <div class="row">
                   <div class="col-6">
                       <iframe width="560" height="315" src="https://www.youtube.com/embed/pQUsUHvyoI0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                   <div class="col-6 text-center">
                           <h2>Wide Arm Push Ups</h2>
                           <h3>x 8</h3>
                           <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
 
                   </div>
               </div>
                 </mat-step>
                 <mat-step label="14 of 16">
             <div class="row">
                 <div class="col-6">
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/HE0ijmUc6Og" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                  </div>
                 <div class="col-6 text-center">
                         <h2>Hindu Push Ups</h2>
                         <h3>x 10</h3>
                         <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
 
                 </div>
             </div>
                 </mat-step>
                 <mat-step label="15 of 16">
          <div class="row">
             <div class="col-6">
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/z21McHHOpAg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
             <div class="col-6 text-center">
                     <h2>Cobra Stretch</h2>
                     <h3>30 sec</h3>
                     <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
 
             </div>
         </div>
                 </mat-step>
                 <mat-step label="16 of 16">
       <div class="row">
           <div class="col-6">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/NS64IgKUyeY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
           <div class="col-6 text-center">
                   <h2>Chest Stretch</h2>
                   <h3>30 sec</h3>
                   <button mat-raised-button matStepperNext  routerLink="/reward" class="mt-4 bg-info text-light">Finish</button>
 
           </div>
       </div>
                 </mat-step>
      
      
      
               
            </mat-vertical-stepper>

    </mat-step>
     <mat-step label="Intermediate" >


      <mat-vertical-stepper linear>
        <mat-step label="Start">
            <div class="row">
                <div class="col-12 begin">
                    <button mat-raised-button matStepperNext  id="begin"  class=" bg-info text-light">Start</button>
                </div>
            </div>
        </mat-step> 
     
        <mat-step label="1 of 16">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" id="myIframe" src="https://www.youtube.com/embed/2W4ZNSwoW_4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-6 text-center">
                        <h2>Jumping Jacks</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>         

        <mat-step label="2 of 16">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jWxvty2KROs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                <div class="col-6 text-center">
                        <h2>Knee Push Ups</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="3 of 16">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3WUUeM07i_Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                <div class="col-6 text-center">
                        <h2>Incline Push Ups</h2>
                        <h3>x 16</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="4 of 16">
            <div class="row">
                <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/HE0ijmUc6Og" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                  </div>
                <div class="col-6 text-center">
                        <h2>Hindu Push Ups</h2>
                        <h3>x 14</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
         
                </div>
            </div>
                </mat-step>
        <mat-step label="5 of 16">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/R08gYyypGto" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                <div class="col-6 text-center">
                        <h2>Push Ups</h2>
                        <h3>x 14</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="6 of 16">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pQUsUHvyoI0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                <div class="col-6 text-center">
                        <h2>Wide Arm Push Ups</h2>
                        <h3>x 12</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="7 of 16">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3WUUeM07i_Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                <div class="col-6 text-center">
                        <h2>Incline Push Ups</h2>
                        <h3>x 16</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="8 of 16">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jWxvty2KROs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                <div class="col-6 text-center">
                        <h2>Knee Push Ups</h2>
                        <h3>x 14</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="9 of 16">
            <div class="row">
               <div class="col-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UCmqw3kKZ38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                 </div>
               
                   <div class="col-6 text-center">
                       <h2>Diamond Push Ups</h2>
                       <h3>x 12</h3>
                       <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

               </div>
              </div>
        </mat-step>
        <mat-step label="10 of 16">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pQUsUHvyoI0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                <div class="col-6 text-center">
                        <h2>Wide Arm Push Ups</h2>
                        <h3>x 10</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="11 of 16">
            <div class="row">
                <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/dcJVA2sBPqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                  <div class="col-6 text-center">
                        <h2>Box Push Ups</h2>
                        <h3>x 12</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="12 of 16">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/OjPfLfLsw3c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                        </div>
                <div class="col-6 text-center">
                        <h2>Decline Push Ups</h2>
                        <h3>x 12</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="13 of 16">
            <div class="row">
               <div class="col-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JWNTTiAQMhc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                 </div>
               
                   <div class="col-6 text-center">
                       <h2>Staggered Push Ups</h2>
                       <h3>x 14</h3>
                       <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

               </div>
              </div>
        </mat-step>

        <mat-step label="14 of 16">
      <div class="row">
         <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9k0EN2RCGgU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="col-6 text-center">
                 <h2>Shoulder Stretch</h2>
                 <h3>30 sec</h3>
                 <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

         </div>
     </div>
       </mat-step>

       <mat-step label="15 of 16">
<div class="row">
   <div class="col-6">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/z21McHHOpAg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
   <div class="col-6 text-center">
           <h2>Cobra Stretch</h2>
           <h3>30 sec</h3>
           <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

   </div>
</div>
       </mat-step>
       <mat-step label="16 of 16">
<div class="row">
 <div class="col-6">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/NS64IgKUyeY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
 <div class="col-6 text-center">
         <h2>Chest Stretch</h2>
         <h3>30 sec</h3>
         <button mat-raised-button matStepperNext  routerLink="/reward" class="mt-4 bg-info text-light">Finish</button>

 </div>
</div>
       </mat-step>



     
  </mat-vertical-stepper>

     </mat-step>
     <mat-step label="Advanced" >
 
      <mat-vertical-stepper linear>
             
        <mat-step label="Start">
            <div class="row">
                <div class="col-12 begin">
                    <button mat-raised-button matStepperNext  id="begin"  class=" bg-info text-light">Start</button>
                </div>
            </div>
        </mat-step> 
        <mat-step label="1 of 20">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" id="myIframe" src="https://www.youtube.com/embed/2W4ZNSwoW_4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-6 text-center">
                        <h2>Jumping Jacks</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>         

        <mat-step label="2 of 20">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jWxvty2KROs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                <div class="col-6 text-center">
                        <h2>Knee Push Ups</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="3 of 20">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3WUUeM07i_Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                <div class="col-6 text-center">
                        <h2>Incline Push Ups</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="4 of 20">
            <div class="row">
                <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/HE0ijmUc6Og" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                  </div>
                <div class="col-6 text-center">
                        <h2>Hindu Push Ups</h2>
                        <h3>x 16</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
         
                </div>
            </div>
                </mat-step>
        <mat-step label="5 of 20">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/R08gYyypGto" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                <div class="col-6 text-center">
                        <h2>Push Ups</h2>
                        <h3>x 14</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="6 of 20">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pQUsUHvyoI0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                <div class="col-6 text-center">
                        <h2>Wide Arm Push Ups</h2>
                        <h3>x 12</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="7 of 20">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3WUUeM07i_Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                <div class="col-6 text-center">
                        <h2>Incline Push Ups</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="8 of 20">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jWxvty2KROs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                <div class="col-6 text-center">
                        <h2>Knee Push Ups</h2>
                        <h3>x 16</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="9 of 20">
            <div class="row">
               <div class="col-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UCmqw3kKZ38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                 </div>
               
                   <div class="col-6 text-center">
                       <h2>Diamond Push Ups</h2>
                       <h3>x 16</h3>
                       <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

               </div>
              </div>
        </mat-step>
        <mat-step label="10 of 20">
            <div class="row">
                <div class="col-6">
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/818SkLAPyKY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
                </div>
                <div class="col-6 text-center">
                        <h2>Burpees</h2>
                        <h3>x 12</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>
             
                </div>
             </div>
        </mat-step>
        <mat-step label="11 of 20">
            <div class="row">
                <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/dcJVA2sBPqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                  <div class="col-6 text-center">
                        <h2>Box Push Ups</h2>
                        <h3>x 20</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="12 of 20">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/OjPfLfLsw3c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                        </div>
                <div class="col-6 text-center">
                        <h2>Decline Push Ups</h2>
                        <h3>x 16</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
        </mat-step>
        <mat-step label="13 of 20">
            <div class="row">
               <div class="col-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JWNTTiAQMhc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                 </div>
               
                   <div class="col-6 text-center">
                       <h2>Staggered Push Ups</h2>
                       <h3>x 14</h3>
                       <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

               </div>
              </div>
        </mat-step>

        <mat-step label="14 of 20">
            <div class="row">
                <div class="col-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pQUsUHvyoI0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
                <div class="col-6 text-center">
                        <h2>Wide Arm Push Ups</h2>
                        <h3>x 16</h3>
                        <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

                </div>
            </div>
       </mat-step>

       <mat-step label="15 of 20">
<div class="row">
   <div class="col-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/818SkLAPyKY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    </div>
   <div class="col-6 text-center">
           <h2>Burpees</h2>
           <h3>x 14</h3>
           <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

   </div>
</div>
       </mat-step>
       <mat-step label="16 of 20">
<div class="row">
 <div class="col-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/YmonBKorAIw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       </div>
    <div class="col-6 text-center">
         <h2>SpiderMan Push Ups</h2>
         <h3>x 20</h3>
         <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

 </div>
</div>
       </mat-step>
       <mat-step label="17 of 20">
        <div class="row">
            <div class="col-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/OjPfLfLsw3c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                        </div>
            <div class="col-6 text-center">
                    <h2>Decline Push Ups</h2>
                    <h3>x 14</h3>
                    <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

            </div>
        </div>
    </mat-step>

    <mat-step label="18 of 20">
  <div class="row">
     <div class="col-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9k0EN2RCGgU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-6 text-center">
             <h2>Shoulder Stretch</h2>
             <h3>30 sec</h3>
             <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

     </div>
 </div>
   </mat-step>

   <mat-step label="19 of 20">
<div class="row">
<div class="col-6">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/z21McHHOpAg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
<div class="col-6 text-center">
       <h2>Cobra Stretch</h2>
       <h3>30 sec</h3>
       <button mat-raised-button matStepperNext   class="mt-4 bg-info text-light">Completed</button>

</div>
</div>
   </mat-step>
   <mat-step label="20 of 20">
<div class="row">
<div class="col-6">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/NS64IgKUyeY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    </div>
<div class="col-6 text-center">
     <h2>Chest Stretch</h2>
     <h3>30 sec</h3>
     <button mat-raised-button matStepperNext  routerLink="/reward" class="mt-4 bg-info text-light">Finish</button>

</div>
</div>
   </mat-step>



     
  </mat-vertical-stepper>

     </mat-step>


</mat-horizontal-stepper>


