<mat-horizontal-stepper linear>


   <mat-step label=" Beginner">


      <mat-vertical-stepper linear>
         <mat-step label="Start">
            <div class="row">
                <div class="col-12 begin">
                    <button mat-raised-button matStepperNext  id="begin"  class=" bg-info text-light">Start</button>
                </div>
            </div>
        </mat-step> 

         <mat-step label="1 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/jJlSkHHmaZg"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Cow Face</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="2 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/AKhSglU4YVw"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Standing Forward Bend With Shoulder Opener</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="3 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/TznRHywkPwU"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Half Moon Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="4 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/ySy_k5R3lHg"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Warrior III</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="5 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/8LmWu5XnEWc"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Reverse Warrior</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="6 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/YSjBJDkA6zg"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Warrior II</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="7 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Tbz3FVAjVtI"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Revolved Triangle Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="8 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/7a_WhOoegHE"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Sphinx Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="9 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/O06t2tg1hlg"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Extended Side Angle Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="10 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/z-BjiGQZe4s"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Happy Baby Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="11 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/dXREtCBZnV4"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Crescent Low Lunge</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="12 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/PCgS48SiR2k"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>

               <div class="col-6 text-center">
                  <h2>Walk The Dog</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="13 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/_tE3e84OEpo"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Down Dog With Bent Knee</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="14 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/uPZZMuYA5zc"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>ThunderBolt Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="15 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/16-WWEQNiK0"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Push Up Hold</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="16 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/Ns8TW7y-abA"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Corpse Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  routerLink="/reward" class="mt-4 bg-info text-light">Finish</button>

               </div>
            </div>
         </mat-step>




      </mat-vertical-stepper>

   </mat-step>
   <mat-step label="Intermediate">




      <mat-vertical-stepper linear>
         <mat-step label="Start">
            <div class="row">
                <div class="col-12 begin">
                    <button mat-raised-button matStepperNext  id="begin"  class=" bg-info text-light">Start</button>
                </div>
            </div>
        </mat-step> 

         <mat-step label="1 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/uPZZMuYA5zc"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>ThunderBolt Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="2 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/sxymAjTuUx0"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Tree Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="3 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/lykMBrXHVKk"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Shoulder Shrugs</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="4 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/inetVHah2NE"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Bow Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="5 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/rHlaMiHXdPI"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Half Plough Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="6 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/SK6G-mPYHcg"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Camel</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="7 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/M9VNeCErXq8"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Pigeon Pose Left Leg Forward</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="8 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/M9VNeCErXq8"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Pigeon Pose Right Leg Forward</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="9 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/0-N8ty8OMts"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Boat Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="10 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/mX_SX6I2DSI"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Reverse Plank</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="11 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/pjAm2Jl9vMA"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Easy Butterfly Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="12 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/seRyFNh7boQ"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Butterfly Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="13 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/nbhJvFWFPTE"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Thoracic Spine Cat Cow</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="14 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/o3H3RJ4SwbQ"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Lumbar Cat Cow Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="15 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IAKURhFoODE"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Forward Spine Stretch Pulse</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="16 of 16">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/tShKvg4h12k"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Wide Leg Hamstring Stretch</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  routerLink="/reward" class="mt-4 bg-info text-light">Finish</button>

               </div>
            </div>
         </mat-step>




      </mat-vertical-stepper>

   </mat-step>
   <mat-step label="Advanced">


      <mat-vertical-stepper linear>

         <mat-step label="Start">
            <div class="row">
                <div class="col-12 begin">
                    <button mat-raised-button matStepperNext  id="begin"  class=" bg-info text-light">Start</button>
                </div>
            </div>
        </mat-step> 
         <mat-step label="1 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/uPZZMuYA5zc"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>ThunderBolt Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="2 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IAKURhFoODE"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Forward Spine Stretch Pulse</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="3 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/_TesLrPS1Mw"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Spine Rolling</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="4 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/4CmVrMBtKuE"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Gate Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="5 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/2CGqyWvxP-g"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Thread The Needle Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="6 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/2CGqyWvxP-g"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Thread The Needle Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="7 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/M9VNeCErXq8"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Pigeon Pose Left Leg Forward</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="8 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/M9VNeCErXq8"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Pigeon Pose Right Leg Forward</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="9 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/PSZgJiFIrHQ"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Half Boat Twist Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="10 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/PSZgJiFIrHQ"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Half Boat Twist Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="11 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/pqL9RYhYJAE"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Low Boat Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="12 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/4I5EFtmDAiY"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Locust Pose</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="13 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/poN4_v25CAI"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Tiger Pose Right Hand</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="14 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/poN4_v25CAI"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Tiger Pose Left Hand</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="15 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/poN4_v25CAI"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Tiger Pose Right Hand</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="16 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/JxnGOaye88w"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Bridge Right Leg Raise</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="17 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/JxnGOaye88w"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Bridge Left Leg Raise</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>

         <mat-step label="18 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/6ikwduxu0JU"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Runner's Lunge Left</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>

         <mat-step label="19 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/6ikwduxu0JU"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Runner's Lunge Right</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  class="mt-4 bg-info text-light">Completed</button>

               </div>
            </div>
         </mat-step>
         <mat-step label="20 of 20">
            <div class="row">
               <div class="col-6">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IAKURhFoODE"
                     title="YouTube video player" frameborder="0"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
               </div>
               <div class="col-6 text-center">
                  <h2>Forward Spine Stretch Pulse</h2>
                  <h3>30 sec</h3>
                  <button mat-raised-button matStepperNext  routerLink="/reward" class="mt-4 bg-info text-light">Finish</button>

               </div>
            </div>
         </mat-step>




      </mat-vertical-stepper>

   </mat-step>


</mat-horizontal-stepper>