<!-- Navigation-->
<app-header2></app-header2>

 <!-- Product section-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 my-3">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-4"><img class="card-img-top mb-5 mb-md-0 " style="height: 450px;width: 380px;" [src]="product.image" alt="..." /></div>
            <div class="col-md-8 ">
                <!-- <div class="small mb-1 fw-bolder m-3">ID:{{product.id}}</div> -->
                <h1 class="display-5 fw-bolder title">{{product.title}}</h1>
                <div class="fs-5 mb-2"> 
                    <span class="text-decoration fs-2 mt-5 ,b-5">${{product.price}}</span>&nbsp;
                </div>
                <p class="lead mt-3"><b>{{product.description}}</b> </p>
                <div class="d-flex">
                    <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
      
                    <button (click)="addtowishlist()"  class="btn btn-outline-dark flex-shrink-0 me-4 mt-3" type="button">
                        <i class="fa-sharp fa-solid fa-heart text-danger fa-beat"></i>
                        Add to wishlist
                    </button>
                    
                    <button (click)="addtocart(product)" class="btn btn-outline-dark flex-shrink-0 mt-3" type="button">
                        <i class="fa-sharp fa-solid fa-cart-shopping "></i>
                        Add to cart
                    </button>


                </div>
            </div>
        </div>
    </div>
</section>