<!-- <p>header works!</p> -->

 <!-- Navigation-->
 <nav class="navbar headerr navbar-expand-lg navbar-light   " style="margin-bottom: 1px;">
    <div class="container px-4 px-lg-5 ">

           
            <!-- <img id="icon"  src="https://i.postimg.cc/PxbJptPj/Screenshot-2023-05-11-150602.webp" alt=""> -->
        <div class="title pt-3">
            <h1 class=" ms-4">
        <div > 
               <b class="red">Ho</b>
                <b class="white" >Me</b> 
                <b class="white" > Work</b>
                <b class="red">Out</b>
            </div>
            </h1> 

        </div>  

        <div class="dropdown ">
            <a class="text-light dropdown-toggle" href="#"  id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
             Logout
            </a>
          
            <ul class="dropdown-menu" style="background-color: black;" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" id="item" href="">Logout</a></li>

            </ul>
          </div>
            
        <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa-sharp fa-solid fa-bars text-light"></i><span class="navbar-toggler-icon m-0"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul  class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

            </ul>

        </div>
    </div>

</nav>